# -*- mode: snippet -*-
# name: beamer header white
# key: beamerwhite
# --
#+TITLE: ${1:Title}
#+AUTHOR: ${2:Dr.} Ridenour
#+DATE: `(format-time-string "%B %e, %Y")`
#+OPTIONS:   H:3
#+LaTeX_CLASS: beamer
#+BEAMER_THEME: white
#+LaTeX_CLASS_options: [aspectratio=169,12pt]
#+LATEX_HEADER: \usepackage{fancyvrb}
#+BEAMER_HEADER:      \institute[OBU]{Oklahoma Baptist University}

$0


