# -*- mode: snippet -*-
# name: canvas-html
# key: canvashtml
# --
:drawer:
#+AUTHOR: Randy Ridenour
#+LANGUAGE: en-us
#+EXPORT_FILE_NAME: canvas.html
#+HTML_DOCTYPE: html5
#+OPTIONS: toc:nil
#+OPTIONS: html-style:nil
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="https://randyridenour.net/css/canvas.css"/>
:end:

$0
