# -*- mode: snippet -*-
# contributor: Randy Ridenour <rlridenour@gmail.com>
# key: aarg
# name: argument
# --

<ol>
	<li>
		${1:First Premise}
	</li>
	<li>
		<u>${2:Last Premise}</u>
	</li>
	<li style="list-style:none;">
		${3:Conclusion}
	</li>
</ol>
