# -*- mode: snippet -*-
# name: beamer header
# key: beamerheader
# --
#+TITLE: ${1:Title}
#+AUTHOR: ${2:Dr.} Ridenour
#+DATE: `(format-time-string "%B %e, %Y")`
#+OPTIONS:   H:3
#+LaTeX_CLASS: beamer
#+BEAMER_THEME: metropolis

$0
